body {
	margin: 0;
	font-family: Baskerville Old Face, 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}


header {
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;


}
/* changing to commit */

h1, h2 {
	font-family: 'Bonheur Royale', cursive;
	font-size: 50px;
}

header h1 {
	color: #ff8800;
	
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid #ff8800;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;

}

main img{
	max-width: 100%;
}

h2 {
	font-size: 35px;
	color: #ff8800;
	margin: 40px 0 10px;
}


a{
	color: #ff8800;

}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: :50px;

}

footer p{
	margin: 0;
}

footer a{
	color: white;

}
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}